.button {
	width: max-content;
	height: max-content;
	transition: background-color 0.3s ease-in;
	border-radius: 2px;
	background-color: V.$c-blue;
	cursor: pointer;
	user-select: none;

	&:hover {
		transition: background-color 0.3s ease-in;
		background-color: V.$c-blue-strong;
	}

	.label {
		@include T.body-l;

		padding: 10px 16px;
		color: V.$c-white;

		&.small {
			padding: 4px 16px;
		}
	}
}
