@use "./utils/variables.scss" as V;
@use "./utils/typography.scss" as T;

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/NotoSans-Regular.ttf");
}

@font-face {
	font-family: "Noto Sans Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/NotoSans-Bold.ttf");
}

p,
a,
li,
label {
	@include T.body-m;

	color: V.$c-black;
	font-family: V.$f-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: V.$c-black;
}

h1 {
	@include T.h-l;
}

h2 {
	@include T.h-m;
}

h3 {
	@include T.h-s;
}
