@use "./variables.scss" as V;

@mixin h-xl {
	font-family: V.$f-bold;
	font-size: 8vmin;
	line-height: 9vmin;
}

@mixin h-l {
	font-family: V.$f-bold;
	font-size: 40px;
	line-height: 60px;
}

@mixin h-m {
	font-family: V.$f-bold;
	font-size: 24px;
	line-height: 26px;
}

@mixin h-s {
	font-family: V.$f-bold;
	font-size: 18px;
	line-height: 26px;
}

@mixin h-xs {
	font-family: V.$f-bold;
	font-size: 2vmin;
	line-height: 3vmin;
}

@mixin body-l {
	font-family: V.$f-bold;
	font-size: 16px;
	line-height: 16px;
}

@mixin body-m {
	font-family: V.$f-regular;
	font-size: 16px;
	line-height: 26px;
}

@mixin body-s {
	font-family: V.$f-regular;
	font-size: 14px;
	line-height: 26px;
}
